<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avengers.wakeable">

    <uses-sdk
        android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.avengers.wakeable.MainActivity"
            android:label="@string/app_name">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.avengers.wakeable.AlarmService"
            android:enabled="true" />

        <receiver android:name="com.avengers.wakeable.AlarmReceiver" />

        <service
            android:name="com.avengers.wakeable.RingtoneService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.avengers.wakeable.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.avengers.wakeable.AlarmIntentService"
            android:exported="false" />
        <service
            android:name="com.avengers.wakeable.LogService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.avengers.wakeable.BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.avengers.wakeable.SetupActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
